*{font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;}
body, p, td, tr, ol, ul{font-size: 10pt;}
body{color: #FFFFFF;background-color: #669CC2;}
fieldset, fieldset td, .copyright{font-size: 11px;}
.table, .table td, legend{font-size: 11px;}
input, select, textarea, option{font-size: 11px;}
textarea, input{font-size: 11px;font-weight: bold;color: #FFFFFF;background-color: #669CC2;border: solid 1px #FFFFFF;}
option{font-weight: bold;font-size: 11px;color: #FFFFFF;background-color: #669CC2;}
input{padding: 4px;}
.button{font-size: 11px;font-weight: bold;}
thead{font-weight: bold;color: #FFFFFF;background-color: #669CC2;border: outset 1px;padding: 2px 4px 2px 4px;}
a:link, a:visited, a:active{color: #FFFFFF;background-color: transparent;}
a:hover{color: #FFFFFF;background-color: #0B5E9D;}
legend{font-weight: bold;color: #FFFFFF;}
a.copyright:link, a.copyright:visited, a.copyright:active{text-decoration: none;color: #ffffff;border-top: dashed 1px #0B5E9D;padding: 1px;}
hr{border-top: solid 1px #FFFFFF;height: 0px;}
.table{color: #FFFFFF;background-color: #0B5E9D;}
.table a:link, .table a:visited, .table a:active{text-decoration: none;color: #FFFFFF;}
#body{margin: 10px;}
#body p, #body td, #body li, #body div{font-size: 11px;}